In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Read in the table as a pd dataFrame, delimiting by commas, ignore the first two rows
df = pd.read_csv('rawDataMS.csv', delimiter=',', skiprows=2)
df

#This function keeps track of how many different samples are run
#Count the amout of "Average counts from 3 runs" in "Run" column
def countSamples(df):
    sampleCount = 0
    for i in df['Run']:
        if i == 'Average counts from 3 runs':
            sampleCount += 1
    return sampleCount

print(countSamples(df))

14

In [9]:
df

,Run,Time,50Cr,52Cr,53Cr,54Cr,58Ni,60Ni,61Ni,62Ni,64Ni
0,NaN,NaN,2vv Nitric 4/24/2023 5:22:13 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,17:22:26,592.019,7629.2,133.001,198883.98,21801.11,8242.735,370.008,1167.075,802.035
2,2,17:22:38,567.018,7510.101,134.001,193780.52,21573.568,8114.62,396.009,1169.075,809.036
3,3,17:22:50,609.02,7379.994,128.001,188662.54,21004.237,7846.385,323.006,1119.069,813.036
4,Average counts from 3 runs,NaN,589,"7,506",132,"193,776","21,460","8,068",363,"1,152",808
...,...,...,...,...,...,...,...,...,...,...,...
106,2,18:00:24,35711889,790956570,95979315,25824112,236770.68,89672.089,3975.869,13118.458,265323.11
107,3,18:00:36,35501347,791389200,96115818,25871697,237490.09,89707.435,4059.906,12998.286,264913.42
108,Average counts from 3 runs,NaN,35590580,790937440,95948065,25814822,235151.89,88734.724,3976.536,12879.454,264834.51
109,standard deviation,NaN,108874.99,461618.35,185363.92,62044.004,3445.682,1654.269,83.038,315.667,532.454
110,%RSD,NaN,0.306,0.058,0.193,0.24,1.465,1.864,2.088,2.451,0.201

In [27]:
#Create a dictionary of dictionaries, where the keys are the sample names, and the values are the dataframes of the sample
#Loop through the rows, whenever the "50Cr" column contians a a string with the string PM or AM in it, extract out the unique sample name

def createDict(df):
    sampleDict = {}
    for i in range(len(df)):
        if type(df['50Cr'][i]) == str:
            if 'PM' in df['50Cr'][i] or 'AM' in df['50Cr'][i]:
                sampleDict[df['50Cr'][i]] = df.iloc[i:i+6]
    return sampleDict

sampleDict = createDict(df)

sampleDict.get('.1 ppm NiCr    4/24/2023 5:24:50 PM')

,Run,Time,50Cr,52Cr,53Cr,54Cr,58Ni,60Ni,61Ni,62Ni,64Ni
8,NaN,NaN,.1 ppm NiCr 4/24/2023 5:24:50 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,17:25:02,267438.77,6997041.5,676365.45,521919.96,4243503.1,1353106.3,60963.729,198788.93,1399062.6
10,2,17:25:15,281226.61,7374526.3,713934.44,542301.53,4358725.7,1418253.2,63298.605,208571.48,1472068.3
11,3,17:25:26,284769.37,7426923.4,875399.06,544842.94,4369767.2,1429358.7,63852.458,211618.7,1484774.4
12,Average counts from 3 runs,NaN,"277,812","7,266,164","755,233","536,355","4,323,999","1,400,239","62,705","206,326","1,451,969"
13,standard deviation,NaN,"9,156","234,535","105,749","12,565","69,929","41,194","1,533","6,703","46,256"

In [30]:
#remove all rows with "NaN" in "Run" column
df_removed_name = df.dropna(subset=['Run'])
df_removed_name.head(10)

,Run,Time,50Cr,52Cr,53Cr,54Cr,58Ni,60Ni,61Ni,62Ni,64Ni
1,1,17:22:26,592.019,7629.2,133.001,198883.98,21801.11,8242.735,370.008,1167.075,802.035
2,2,17:22:38,567.018,7510.101,134.001,193780.52,21573.568,8114.62,396.009,1169.075,809.036
3,3,17:22:50,609.02,7379.994,128.001,188662.54,21004.237,7846.385,323.006,1119.069,813.036
4,Average counts from 3 runs,NaN,589,"7,506",132,"193,776","21,460","8,068",363,"1,152",808
5,standard deviation,NaN,21,125,3,"5,111",410,202,37,28,6
6,%RSD,NaN,4,2,2,3,2,3,10,2,1
9,1,17:25:02,267438.77,6997041.5,676365.45,521919.96,4243503.1,1353106.3,60963.729,198788.93,1399062.6
10,2,17:25:15,281226.61,7374526.3,713934.44,542301.53,4358725.7,1418253.2,63298.605,208571.48,1472068.3
11,3,17:25:26,284769.37,7426923.4,875399.06,544842.94,4369767.2,1429358.7,63852.458,211618.7,1484774.4
12,Average counts from 3 runs,NaN,"277,812","7,266,164","755,233","536,355","4,323,999","1,400,239","62,705","206,326","1,451,969"

In [34]:
#Transfrom the dictionary into a big dataframe, with key as a column(Sample Name) and all other information as rows
def transformDict(sampleDict):
    df = pd.DataFrame()
    #Create a new column called "Sample Name"
    df['Sample Name'] = sampleDict.keys()
    #add all colunms after the column "Time" as colunmns in the new dataframe
    
    
    for i in sampleDict.keys():
        for j in sampleDict.get(i).columns[2:]:
            df[j] = ''
    
    #Each sample and its CR should contain 3 informations, Average counts from 3 runs, Standard Deviation, and RSD
    #Loop through the df_removed_name dataframe, and extract out the information from each sample they are in the same order
    #Each sample has 6 rows, so loop through the df_removed_name dataframe by 6, and last 3 are the information we need



    



    return df

transformDict(sampleDict)

,Sample Name,50Cr,52Cr,53Cr,54Cr,58Ni,60Ni,61Ni,62Ni,64Ni
0,2vv Nitric 4/24/2023 5:22:13 PM,,,,,,,,,
1,.1 ppm NiCr 4/24/2023 5:24:50 PM,,,,,,,,,
2,1 ppm NiCr 4/24/2023 5:27:27 PM,,,,,,,,,
3,5 ppm NiCr 4/24/2023 5:30:05 PM,,,,,,,,,
4,20 ppm NiCr 4/24/2023 5:32:43 PM,,,,,,,,,
5,10B1[01]01A 4/24/2023 5:35:25 PM,,,,,,,,,
6,10D1[01]04A 4/24/2023 5:38:05 PM,,,,,,,,,
7,10D1[01]05A 4/24/2023 5:40:45 PM,,,,,,,,,
8,Undig CrF3 4/24/2023 5:43:26 PM,,,,,,,,,
9,10D [01] 303 4/24/2023 5:46:07 PM,,,,,,,,,
10,Undig CrF2 4/24/2023 5:48:45 PM,,,,,,,,,
11,10D [01] 302 4/24/2023 5:51:22 PM,,,,,,,,,
12,Undig CrF2 4/24/2023 5:57:18 PM,,,,,,,,,
13,10D [01] 302 4/24/2023 5:59:59 PM,,,,,,,,,